<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>sale8qw</display-name>
 <!--configure the ContextLoaderListener to load the applicationcontext.xml   -->
   <context-param>  
        <param-name>contextConfigLocation</param-name>  
        <param-value>classpath:applicationcontext.xml,classpath:applicationcontext-job.xml</param-value>  
    </context-param>  
 
    <listener>  
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>  
    </listener> 
  
    <!-- 添加Spring过滤器,解决POST时乱码问题，但GET方式需要自己手工处理 -->  
   <filter>  
        <filter-name>Encoding</filter-name>  
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>  
        <init-param>  
            <param-name>encoding</param-name>  
            <param-value>utf8</param-value>  
        </init-param>  
    </filter>  
    <filter-mapping>  
        <filter-name>Encoding</filter-name>  
        <url-pattern>/*</url-pattern>  
    </filter-mapping> 
  
  
    <!-- Spring MVC 的Servlet，它将加载WEB-INF/xxx-servlet.xml 的 配置文件，以启动Spring MVC模块 -->  
    <servlet>  
        <servlet-name>springmvc</servlet-name>  
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>  
        <init-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:springmvc-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>springmvc</servlet-name>  
        <url-pattern>*.do</url-pattern>  
    </servlet-mapping>  
  
    <!-- 使用Srping 标签时需配置 -->  
    <!-- <jsp-config>  
        <taglib>  
            <taglib-uri>/spring</taglib-uri>  
            <taglib-location>/WEB-INF/tld/spring-form.tld</taglib-location>  
        </taglib>  
    </jsp-config>   -->
  
  <welcome-file-list>
    
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>